/* homepage css*/
#custom-bodybg {
    background: url(../images/beerbg.jpg);
}

#custom-beerbodybg {
    background: url(../images/beerbg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.custom-font1 {
    font-family: 'Nabla', cursive;
    font-size: 70px;
}

.custom-font2 {
    font-family: 'Smokum', cursive;
    font-size: 50px;
    text-shadow: 3px 3px 3px black;
}

.custom-homebtn {
    padding: 15px;
    margin: .5%;
    background: white;
    border-radius: 5px;
    font-family: sans-serif;
}

.custom-homebtn:hover{
    background-color: rgb(97, 115, 115);
      transition: 0.7s;
      cursor: pointer;
}

#custom-border1 {
    border-style: solid;
    padding: 100px;
    margin: 2%;
    background: none;
}
#custom-border1 {
    background: url(../images/foodgif.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

/* beer background css */
#custom-beername {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
}

#custom-bg{
    background: url(../images/beerbg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


#beerSelection {
    padding: 0 0 0 10px;
}

.column {
    height: 400px;
}


.column #image {
    max-height: 100%;
    position: relative;
    left: 40%;
}

#custom-head1 {
    background: url(../images/beer-10.gif);
    border-bottom: solid;
    background-size: cover;
}

#custom-form {
    left: 14%;
    top: 2%
}
#custom-boxone {
    border: solid;
    background: white;
    overflow: scroll;
    background: url(../images/descbg1.jpg);

}

#custom-colgrid {
    margin-top: 2%;
    position: relative;
    left: 25%;
    
}


#mP1:hover, #mP2:hover,  #mP3:hover{
    cursor: pointer;
}

h4{
    text-decoration: underline;
    font-size: 20px;
}

.container {
    position: relative;
    left: 29%;
    margin-top: 3%;
    border: solid;
    width: 35%;
    background: white;
}

.custom-p{
    color: red;
    text-shadow: 1px 1px 1px black;
    font-size: 22px;
    text-align: center;
}

h6 {
    position: relative;
    padding: 10px;
    text-align: center;
    bottom: 45%;
    font-size: 40px;
    margin-right: auto;
    margin-left: auto;

}

.container2 {
    position: relative;
    left: 42.5%;
    margin-top: 2%;
}

.custom-text {
    font-size: 15px;
    color: goldenrod;
    text-shadow: 1px 1px 1px black;
}

/* food css */


#custom-heroimg {
    margin: 0;
    padding: 0;
}

#custom-navbar{
margin: 0;
text-align: center;
height: 12%;
bottom: 5%;
}

#custom-foodheadimg {
    width: 100%;
    height: 500px;
}